<div class="container">
<div class="row">
  <div class="col-2"></div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{maker.logoUrl || '../../../assets/maker.jpg'}}" alt="{{maker.city}}">
      </div>
      
    </div>

    <div class="col-4">
      <div class="container">

        <div class="card-body">

          <div>
            <p>
            <strong>Name:</strong> {{maker.name}}
            </p>
          </div>
  
          <div>
            <p>
            <strong>Abrv:</strong> {{maker.abrv}}
            </p>
          </div>
  
          <div>
            <p>
            <strong>Founded:</strong> {{maker.founded | date: 'yyyy'}}
            </p>
          </div>
        
          <div>
            <p>
            <strong>City:</strong> {{maker.city}}
            </p>
          </div>

          <div>
            <p>
            <strong>Country:</strong> {{maker.country}}
            </p>
          </div>
  
        </div>
        <div class="col-2"></div>
      </div>
  </div>
</div>